.react-responsive-modal-modal{
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-color);
    border-radius: 5px;
    padding: 12px 0;
    margin-bottom: 12px;
    &__info {
      display: flex;
      flex-direction: row;
      &--avatar {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 12px;
      }
      &--text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h4 {
          color: var(--dark-color);
          font-weight: normal;
        }
        p {
          color: var(--gray-color);
        }
      }
    }
    &__button {
      button{
        background-color: var(--btn-bg);
        color: var(--green-color);
        padding: 12px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
          background-color: var(--btn-bg-hover);
        }
        &:focus{
          background-color: var(--btn-bg-hover);
          outline: none;
        }
      }
    }
  }
  .registers {
    &__title {
      color: var(--gray-color);
      margin-bottom: 16px;
    }
    &__card{
      box-shadow: 0px 3px 10px -2px var(--gray-color-shadow);
      font-weight: 400;
      padding: 16px;
      color: var(--gray-color);
      &--date {
        color: var(--dark-color);
        margin-bottom: 12px;
      }
      &--times {
        display: flex;
        div {
          margin-right: 10px;
        }
      }
    }
  }
}