<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="/">
      <img src="Logo" alt="Logo SCTR" />
    </a>
    <div>
      <p>Ver perfil</p>
      <img src="" class="avatar" alt="avatar del usuario" />
    </div>
  </header>
  <section class="banner">
    <article class="banner__text">
      <div>
        <p>¡Hola!</p>
        <h3>Wilfredo Ramos</h3>
      </div>
      <div>
        <p>Días en planta</p>
        <h3>120</h3>
      </div>
    </article>
    <section class="banner__graphic">

    </section>
  </section>
  <main class="main">
    <article class="main__info">
      <h5>Mis SCTR</h5>
      <div class="card-container">
        <div class="card">
          <div class="card__info">
            <img class="avatar" src="Img empresa" alt="avatar de empresa">
            <div>
              <h5>SCTR Tipo 2</h5>
              <p>25/06/2020</p>
            </div>
          </div>
          <div class="card__button">
            <button>Ver más</button>
          </div>
        </div>
      </div>
    </article>
    <aside class="main__aside">
      <div>
        <div>
          <h3>Añadir SCTR</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium unde quidem et harum facere exercitationem id dignissimos? Eum, eligendi! Iusto nesciunt rerum, ut nihil quia illo et labore eius possimus.</p>
        </div>
        <div>
          <button>Añadir SCTR</button>
        </div>
      </div>
      <div>
        <h3>Descargas reportes completos</h3>
        <button>Descargar reporte en PDF</button>
        <button>Descargar reporte en Excel</button>
      </div>
    </aside>
  </main>
  <footer>
    <div>
      <img src="" alt="logo Insured" />
      <p>INSURED</p>
    </div>
  </footer>
</body>
</html>