@import './components/Card.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root{
  --green-color: #5bb034;
  --green-bg: #75af5b;
  --text-color: #97a4b1;
  --dark-color: #252631;
  --gray-color: #79828b;
  --light-color: #ffffff;
  --light-shadow-color: #d0ced0;
  --bg-color: #eceae9d6;
  --light-bg: #f4f6f8;
  --btn-bg: rgb(171, 200, 32, 0.08);
  --btn-bg-hover: rgb(171, 200, 32, 0.15);
}   

// Landing font-family

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xbzry5');
  src:  url('../fonts/icomoon.eot?xbzry5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xbzry5') format('truetype'),
    url('../fonts/icomoon.woff?xbzry5') format('woff'),
    url('../fonts/icomoon.svg?xbzry5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Buttons

.btn-download {
  background-color: var(--green-bg);
  color: var(--light-color);
  padding: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: var(--green-color);
  }
}

.btn-reverse {
  background-color: var(--green-color);
  color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

// Color text 

.gray-text {
  color: var(--gray-color)
}
.dark-text {
  color: var(--dark-color)
}