* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

header.header-home {
  background-color: var(--green-bg);
  padding: 24px 0;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo {
      width: 40%;
      max-width: 200px;
      text-decoration: none;
      color: var(--dark-color);
      img {
        width: 100%;
      }
      p {
        text-align: center;
      }
    }
  }
  nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      background-color: rgba(255, 255, 255, 0.15);
      padding: 5px 15px;
      border-radius: 15px;
      color: var(--light-color);
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 15px;
    }
  }
}

.banner {
  padding-bottom: 16px;
  margin-bottom: 16px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, var(--green-bg)),
    color-stop(50%, var(--light-bg))
  );
  background: -o-linear-gradient(top, var(--green-bg) 50%, var(--light-bg) 50%);
  background: linear-gradient(
    to bottom,
    var(--green-bg) 50%,
    var(--light-bg) 50%
  );
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--light-color);
    box-shadow: 0px 4px 16px 0px var(--light-shadow-color);
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    .banner__text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30%;
      min-width: calc(320px * 0.8);
      padding: 24px;
      &--greeting {
        color: var(--dark-color);
        padding-bottom: 16px;
        p {
          font-weight: lighter;
        }
        h3 {
          font-weight: normal;
        }
      }
      &--data {
        color: var(--gray-color);
        p {
          font-weight: lighter;
          text-transform: uppercase;
          font-size: 0.85em;
        }
        h3 {
          font-weight: normal;
        }
      }
    }
    .banner__graphic {
      width: 60%;
      min-width: calc(320px * 0.8);
      max-height: 400px;
      padding: 24px;
      canvas {
        width: auto;
        max-height: 220px;
      }
    }
  }
}

main {
  background: rgb(245, 247, 250);
  background: var(--light-bg);
}

main.main-user {
  .container {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-gap: 24px;
    &.container-plant{
      grid-template: 1fr / 2fr 1fr;
      .details-container-plant{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        margin-bottom: 24px;
      }
    }
    @media screen and(max-width: 992px) {
      grid-template: 2fr / 1fr 1fr;
      &.container-plant{
        .details-container-plant{
          grid-template: 2fr / 1fr;
        }
      }
    }
    @media screen and(max-width: 768px) {
      grid-template: 3fr / 1fr;
      &.container-plant{
        grid-template: 3fr / 1fr;
      }
    }
  }
}

.aside {
  &__text {
    background-color: var(--green-color);
    color: var(--light-color);
    border-radius: 10px;
    padding: 16px;
    &--up {
      h3 {
        padding: 12px 0;
      }
      p {
        padding: 12px 0;
      }
    }
    &--down {
      padding: 12px 0;
      input[type='file'] {
        display: none;
      }
    }
  }
  &__search {
    .searchInput{
      border: 1px solid var(--gray-color-shadow);
      padding: 5px;
      border-radius: 5px;
      .fa-search {
        color: var(--gray-color-shadow);
        margin-right: 5px;
        &:focus{
          border: none;
        }
      }
      input {
        border: none;
        width: 90%;
        &:focus{
          outline: none;
        }
      }
    }
  }
  &__download {
    display: flex;
    flex-direction: column;
    padding: 16px;
    h3 {
      color: var(--dark-color);
      font-weight: normal;
      padding: 12px 0;
    }
    .btn-group {
      padding: 12px 0;
      display: flex;
      flex-direction: column;
      a {
        margin: 10px 0;
        text-decoration: none;
        max-width: 220px;
      }
    }
  }
}
